@{
    ViewData["Title"] = "Ciekawostki";
}
    <div class="nav-wrapper container grey">
      <h1 class="header center text-black">Ciekawostki</h1>
    </div>

    <div class="container">
        <div class="section">
            <div class="row grey">

                <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/ciekawostka1.jpg">
                      <span class="card-title"><strong>Silniki z V8 zanikają</strong></span>
                    </div>
                    <div class="card-content">
                      <p>Jeden z najpopularniejszych silników sprzedawanych indywidualnie, oficjalnie zniknął z rynku. Mowa o 7-litrowej, 
                          ośmiocylindrowej jednostce LS7 produkcji Chevroleta. 
                          Fani tuningu z pewnością mają powody do smutku.</p>
                    </div>
                    <div class="card-action">
                      <li>@Html.ActionLink("Strona główna","Index","Home")</li>
                    </div>
                  </div>
                </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/ciekawostka2.jpg">
                      <span class="card-title"><strong>Hybrydy Plug-in to przyszłość</strong> </span>
                    </div>
                    <div class="card-content">
                      <p>
                          Czy tego chcemy, czy nie samochody hybrydowe plug-in, będą pojawiały się coraz częściej na drogach.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="#">Zapraszamy do przeczytania artykułu</a>
                    </div>
                  </div>
              </div>

               <div class="col s12 m7">
                  <div class="card medium">
                    <div class="card-image">
                        <img src="~/lib/materialize/css/ciekawostka3.jpg">
                      <span class="card-title"><strong>Problemy z EGR</strong></span>
                    </div>
                    <div class="card-content">
                      <p>Typowe objawy usterki zaworu EGR to kontrolka “Check Engine” na pulpicie, nagły, permanentny spadek mocy...</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Zapraszamy do przeczytania artykułu</a>
                    </div>
                  </div>
              </div>

            </div>
        </div>
    </div>
    <br/>
    <br/>
