@{
    ViewData["Title"] = "Logowanie";
}
    <div class="nav-wrapper container grey">
      <h1 class="header center text-black">Logowanie</h1>
    </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="login" type="text">
          <label for="login">Login</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="button center">
          <a class="waves-effect waves-light btn" id="Login"><i class="material-icons right">login</i>Logowanie</a>
      </div>
    </form>
  </div>