@model IEnumerable<Sklep.Data.Data.CMS.WynikiFormulaE>
@{
    ViewData["Title"] = "Wyniki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4">
    <table class="table table-dark">
        <thead>

                <tr>
                    <td>Pozycja kierowcy</td>
                    <td>Imię i naziwsko</td>
                    <td>Zespół</td>
                    <td>Liczba punktów</td>
                </tr>
            
            @foreach(var wynikiFormulaE in Model)
            {
                <tr>
                    <td>@wynikiFormulaE.PozycjaKierowcy</td>
                    <td>@wynikiFormulaE.ImieNazwisko</td>
                    <td>@wynikiFormulaE.Zespol</td>
                    <td>@wynikiFormulaE.Punkty</td>
                </tr>
            }
        </thead>
    </table>
    </div> 