@model IEnumerable<Sklep.Data.Data.CMS.WynikiF2>
@{
    ViewData["Title"] = "Wyniki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-4">
    <table class="table table-dark">
        <thead>

                <tr>
                    <td>Pozycja kierowcy</td>
                    <td>Imię i naziwsko</td>
                    <td>Zespół</td>
                    <td>Liczba punktów</td>
                </tr>
            
            @foreach(var wynikif2 in Model)
            {
                <tr>
                    <td>@wynikif2.PozycjaKierowcy</td>
                    <td>@wynikif2.ImieNazwisko</td>
                    <td>@wynikif2.Zespol</td>
                    <td>@wynikif2.Punkty</td>
                </tr>
            }



        </thead>
    </table>
</div>